<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo App by Abhi</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="title">To-Do List</div>
      <div class="add-new-list">
        <input type="text" placeholder="add new todo" />
        <button id="add-btn">Add</button>
      </div>
      <div class="list">
        <ul>
          <li>
            <span class="task">Eat</span>
            <button id="mad">mark as done</button>
            <button id="delete">delete</button>
          </li>
          <li>
            <span class="task">Sleep</span>
            <button id="mad">mark as done</button>
            <button id="delete">delete</button>
          </li>
          <li>
            <span class="task">Code</span>
            <button id="mad">mark as done</button>
            <button id="delete">delete</button>
          </li>
        </ul>
      </div>
    </div>

    <script src="./script.js"></script>
  </body>
</html>
